*{
    margin: 0px;
    padding: 0px;
}

h1{
    color: red;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 200px;
    border: 2px solid black;
    margin: 50px auto;
}

div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: red;
}

section{
    display: flex;
    justify-content: center;
}

article{
    width: 350px;
    height: 400px;
    background-color: white;
    padding: 0 2ch;
}

article h1{
    background-color: white;
    color: black;
    font-size: 2em;
}

article p{
    background-color: lightgray;
    height: 300px;
    padding: 0 1ch;
}

section div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: grey;
    height: 400px;

}

